/* @line-color: #909399; */
/* @extend_handle-color: #909399; */
/* @extend_handle-hover-color: #409eff; */
.twig-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}

.twig-wrapper tr {
    margin: 0;
    padding: 0;
    position: relative;
}

.twig-wrapper td {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 16px;
}


.twig-wrapper .hoop-loading {
    width: 20px;
    height: 20px;
    border: 2px solid #333333;
    border-bottom: #aaa 2px solid;
    border-radius: 50%;
    animation: hoop-loading 1.1s infinite linear;
    -webkit-animation: hoop-loading 1.1s infinite linear;
    -moz-animation: hoop-loading 1.1s infinite linear;
    -o-animation: hoop-loading 1.1s infinite linear;
}

@keyframes hoop-loading {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes hoop-loading {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes hoop-loading {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes hoop-loading {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg);
    }
}