.twig-wrapper.h td {
    vertical-align: center;
    padding: 5px 70px 5px 5px;
}

.twig-wrapper.h .node {
    white-space: nowrap;
}

.twig-wrapper.h .handle {
    position: absolute;
    top: calc(50% - 6px);
    right: 40px;
}

.twig-wrapper.h .extend_handle {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: 2px solid;
    border-color: transparent #909399 #909399 transparent;
    transform: rotateZ(135deg);
    transform-origin: 50% 50% 0;
    transition: transform ease 300ms;
}

.twig-wrapper.h .extend_handle:hover {
    border-color: transparent #409eff #409eff transparent;
}

.twig-wrapper.h .extend .extend_handle {
    transform: rotateZ(-45deg);
}

.twig-wrapper.h .child::before {
    content: "";
    width: 20px;
    top: -1px;
    bottom: calc(50% - 5px);
    left: -25px;
    position: absolute;
    border: 2px solid;
    border-color: transparent transparent #909399 #909399;
    border-radius: 0 0 0 6px;
    transform: translate3d(0, -2px, 0);
}

.twig-wrapper.h .child::after {
    content: "";
    width: 20px;
    position: absolute;
    top: calc(50% + 5px);
    bottom: -2px;
    left: -25px;
    border: 2px solid;
    border-color: #909399 transparent transparent #909399;
    border-radius: 6px 0 0 0;
    transform: translate3d(0, -2px, 0);
}

.twig-wrapper.h .child.first::before {
    border-color: transparent transparent transparent transparent;
    border-radius: 0;
}

.twig-wrapper.h .child.one::after {
    border-color: #909399 transparent transparent transparent;
    border-radius: 0;
}

.twig-wrapper.h .child.last::after {
    border-color: transparent;
}