.twig-wrapper.v td {
    vertical-align: top;
    text-align: center;
    padding: 5px 5px 60px 5px;
}

.twig-wrapper.v .handle {
    left: calc(50% - 8px);
    bottom: 30px;
    position: absolute;
}

.twig-wrapper.v .extend_handle {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 2px solid;
    border-color: #909399 #909399 transparent transparent;
    transform: rotateZ(135deg);
    transform-origin: 50% 50% 0;
    transition: transform ease 300ms;
}

.twig-wrapper.v .extend_handle:hover {
    border-color: #409eff #409eff transparent transparent;
}


.twig-wrapper.v .extend .extend_handle {
    transform: rotateZ(-45deg);
}

.twig-wrapper.v .child::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    height: 15px;
    border-left: 2px solid;
    border-color: #909399;
    transform: translate3d(-2px, 0, 0)
}

.twig-wrapper.v .child::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    border-top: 2px solid;
    border-color: #909399;
}

.twig-wrapper.v .child:first-child::before {
    display: none;
}

.twig-wrapper.v .child:last-child::before {
    display: none;
}

.twig-wrapper.v .child:first-child::after {
    left: 50%;
    height: 15px;
    border: 2px solid;
    border-color: #909399 transparent transparent #909399;
    border-radius: 6px 0 0 0;
    transform: translate3d(2px, 0, 0)
}

.twig-wrapper.v .child:last-child::after {
    right: 50%;
    height: 15px;
    border: 2px solid;
    border-color: #909399 #909399 transparent transparent;
    border-radius: 0 6px 0 0;
    transform: translate3d(-2px, 0, 0)
}

.twig-wrapper.v .child:first-child.child:last-child::after {
    left: auto;
    border-radius: 0;
    border-color: transparent #909399 transparent transparent;
    transform: translate3d(2px, 0, 0)
}